body {
  margin: 60px auto;
  width: 70%;
  font-family: Roboto;
}

h1 {
  font-family: Gudea;
  color: black;
}

#image {
  float: left;
  width: 20%;
  height: 20%;
  margin-right: 15px;
  padding: 5px;
  border-style: solid;
}

#links {
  display: inline-block;
}

#button {
  float: left;
}

a {
  text-decoration: none;
}
